body {
  background-color: #552552;
  font-family: "Courier New", Courier, monospace;
}

.new-article{
  background-color: cadetblue;
  font-family: Helvetica;
}

article {
  margin: 25px 0;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 15px 25px;
  border-radius: 15px;
  color: white;
}

p {
  font-size: 25px;
  text-align: justify;
}

h3 {
  margin: 0;
  font-size: 15;
  color: #ccc;
}

h2 {
  margin: 0;
  font-size: 35px;
  text-align: center;
}
